
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
    <head>
        <title>Lets test this Json Api crap :)</title>
    </head>
    <body>
        <div>
            <ul>
                
                <li><a href="/api/Test/1">1 Item</a></li>
                <li><a href="/api/Test/2">2 Items</a></li>
                <li><a href="/api/Test/3">No Items</a></li>
                <li><a href="/api/Error">An error inside an action method</a></li>
            </ul>              
        </div>
    </body>
</html>